
/* This is for the footer  */
.footer{
    background-color: #091242;
    color: white;
    margin-top: 100px;
}

.footer section{
    height: 400px;
    width: 100vw;
    background-image: url(../img/footerbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.footer footer{
    font-size: 13px;
    border-top:  1px solid #4E5683;
    padding: 20px 0px;
}

.footer footer div{
    width: 1200;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer footer ul{
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.footer main{
    display: flex;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.08);
    margin-bottom: 400px;
    margin-top: -7px;
    justify-content: space-evenly;
}

.footer main h2{
    padding: 30px 0px;
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}