

/* This is for the footer  */
.footer{
    background-color: #091242;
    color: white;
}

.footer section{
    height: 400px;
    width: 100vw;
    background-image: url(../img/footerbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




/* this is for the blog page  */
.blog{
    text-align: center;
    color:  #1C1F35;
}

.blog header p{
    margin: auto;
}

.blog h2{
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    padding: 10px 0px;
}

.blog ul.main{
    padding: 60px 0px;
}

.blog  li.main{

    margin: auto;
    width: 1100px;
    max-width: 90vw;
    display: flex;
    justify-content: space-between;
    text-align: left;
    border-top: 1px solid #D6D6D6;
    padding: 60px 0px;

}

.blog li.main img{
    max-width: 36vw;
    height: auto;
}

.blog ul.sub li{
    list-style-type: disc !important ;
    margin-left: 10px;
}

.blog .main .text{
    /* background-color: red; */
    padding: 5px 20px ;
    border-left: 1px solid #D6D6D6;
}

.blog h3.yellow{
    color: #FFBE34 !important;
}



.blog .button{
    width: max-content;
    margin: auto;
    margin-top: 30px;
}

.blog button{
    margin: 20px;
    padding: 15px 50px;
    color: white;
    border: none;
    margin: none;
    background: url("../img/transbuttonbg.png");
    transition: all 0.4s ease;
}

.blog button:hover{
    background: url("../img/transhoverbg.png");
}


.blog .text h3{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    color: #1C1F35;
}

.blog .text p{
    font-family: 'Krub';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 151.52%;
    padding: 15px 0px;
    color: #666C89;
}

.blog .text li{
    font-family: 'Krub';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 166.52%;
    padding: 2px 0px;
    color: #1C1F35;
}