







/* this is for the blog page  */
.blog{
    text-align: center;
    color:  #1C1F35;
}

.blog header p{
    margin: auto;
}

.blog h2{
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    padding: 10px 0px;
}

.blog ul.main{
    padding: 60px 0px;
}

.blog  li.main{

    margin: auto;
    width: 1100px;
    max-width: 90vw;
    display: flex;
    justify-content: space-between;
    text-align: left;
    border-top: 1px solid #D6D6D6;
    padding: 60px 0px 30px 0px;

}

.blog li.main img{
    max-width: 36vw;
    height: auto;
}

.blog ul.sub li{
    list-style-type: disc !important ;
    margin-left: 10px;
}

.blog .main .text{
    /* background-color: red; */
    padding: 5px 20px ;
    border-left: 1px solid #D6D6D6;
}

.blog h3.yellow{
    color: #FFBE34 !important;
}



.blog .button{
    width: max-content;
    margin: auto;
    margin-top: 30px;
}

.blog button{
    margin: 20px;
    padding: 19px 60px;
    color: white;
    border: none;
    margin: none;
    background: url("../img/transbuttonbg.png");
    transition: all 0.4s ease;
}

.blog button:hover{
    background: url("../img/transhoverbg.png");
}


.blog .text h3{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    color: #1C1F35;
}

.blog .text p{
    font-family: 'Krub';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 151.52%;
    padding: 15px 0px;
    color: #666C89;
}

.blog .text li{
    font-family: 'Krub';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 166.52%;
    padding: 2px 0px;
    color: #1C1F35;
}








/* The styling for the expert section */
.expert{
    margin-bottom: 100px;
}
.expert p{
    margin: auto;
}

.expert h2{
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 33px;
    line-height: 41px;
    text-align: center;
    padding: 10px 0px;
}

.expert ul{
    display: flex;
    width: max-content;
    max-width: 1100px;
    margin: auto;
    padding: 50px 0px;

}

.expert li{
    margin: 10px 20px;
}

.expert img{
    width: 300px;
    max-width: 25vw;
}







/* The styling for the contact page */
.contact{
    background-color: #091242;
    color: white;
    padding-top: 140px;
}

.contact h2{
    font-family: 'Rubik';
    font-style: normal;
    padding: 10px 0px;
    font-weight: 600;
    font-size: 30px;
    margin-right: 8vw;
    line-height: 41px;
}

.contact p{
    font-family: 'Krub';
    font-style: normal;
    font-weight: 500;
    max-width: 350px;
    /* margin-bottom: 10px; */
    font-size: 14px;
    line-height: 151.52%;
}

.contact .links  li{
    display: flex;
    align-items: center;
    padding: 20px 0px;
}

.contact .links p{
    margin: 5px;
}

.contact .links li img{
    width: 55px;
    padding-right: 10px;
}

.contact section{
    display: flex;
}

.contact form input{
    width: 340px;
    font-family: "Rubik";
    max-width: 30vw;
    background-color: inherit;
    color: white;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    padding: 15px 20px;
    margin: 10px;
    outline: none;
    border: 1px solid #4E5683;
}

.contact textarea{
    width: 740px;
    height: 150px;
    font-family: "Rubik";
    max-width: 60vw;
    background-color: inherit;
    color: white;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    padding: 15px 20px;
    margin: 10px;
    outline: none;
    border: 1px solid #4E5683;
}



.contact form ::placeholder{
    color: white;
    font-family: "Rubik";
}

.contact form div{
    display: flex;
}

.contact .clients img{
    width: 300px;
    max-width: 21vw;
}
.contact .clients {
    width: max-content;
    margin: 100px auto;
    padding-bottom: 90px;
}

.contact button{
    padding: 15px 40px;
    border: none;
    margin: none;
    margin-top: 30px;
    margin-left: 10px;
    background: url("../img/buttonbg.png");
    transition: all 0.4s ease;
}

.contact button:hover{
    background: url("../img/hoverbg.png");
}